{% extends "pages/base.html" %}

{% block content %}
<h2>{{request.user.username}}'s Notes</h2>

<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">save</button>
</form>

<hr>


<ul>
    {% for note in notes %}
        <li>
            <strong>{{ note.title }}</strong>
            <p>{{ note.content }}</p>
            <a href="{% url 'edit_note' note.id %}">Edit</a>
            <hr>
        </li>
    {% empty %}
        <li>No notes yet.</li>
    {% endfor %}
</ul>
    
{% endblock %}