{% extends "pages/base.html" %}

{% block title %}Home - Notes App{% endblock %}

{% block content %}
<h1>Your Notes</h1>


<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">save</button>
</form>

<hr>


<ul>
    {% for note in notes %}
        <li>
            <strong>{{ note.title }}</strong>
            <p>{{ note.content }}</p>
            <a href="{% url 'edit_note' note.id %}">Edit</a> |
            <a href="{% url 'delete_note' note.id %}">Delete</a>
            <hr>
        </li>
    {% empty %}
        <li>No notes yet.</li>
    {% endfor %}
</ul>
    
{% endblock %}